<!DOCTYPE html>
<html>
<head><title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css')}}">
	<script type="text/javascript" src="{{ url_for('static', filename='CSS/script.js')}}"></script>
</head>
<body id="bg">

	<div id="input-box">
		<h3 id="h-1">Register</h3>
		<form action="/login">
			<label for="text">First Name:</label><br>
			<input type="text" name="firstname" placeholder="Enter First Name" id="text"><br>
			<label for="text">Last Name:</label><br>
			<input type="text" name="lirstname" placeholder="Enter Last Name" id="text"><br>
			<label for="email">Type E-mail:</label><br>
  			<input type="email" placeholder="Enter Email" id="email" name="email"><br>
			<br>

			<label for="birthday">Birthday:</label><br>
  			<input type="date" id="birthday" name="birthday"><br>
			
			<label for="phone">Phone number:</label><br>
  			<input type="tel" id="phone" name="phone"><br>

			<input type="submit" value="Register"><br>

		</form>
	</div>

</body>
</html>
    </html>